#mlnav {
  clear: both;
  font-weight: bold;
  margin: 0.75em 0;
}
#mlnav a {
  font-weight: normal;
}
#mlnav li.ar {
  background: url(/images/ar.gif) no-repeat left bottom;
  padding-left: 20px;
}
#mlnav li.br {
  background: url(/images/br.gif) no-repeat left bottom;
  padding-left: 20px;
}
#mlnav li.cl {
  background: url(/images/cl.gif) no-repeat left bottom;
  padding-left: 20px;
}
#mlnav li.co {
  background: url(/images/co.gif) no-repeat left bottom;
  padding-left: 20px;
}
#mlnav li.ec {
  background: url(/images/ec.gif) no-repeat left bottom;
  padding-left: 20px;
}
#mlnav li.mx {
  background: url(/images/mx.gif) no-repeat left bottom;
  padding-left: 20px;
}
#mlnav li.pe {
  background: url(/images/pe.gif) no-repeat left bottom;
  padding-left: 20px;
}
#mlnav li.uy {
  background: url(/images/uy.gif) no-repeat left bottom;
  padding-left: 20px;
}
#mlnav li.ve {
  background: url(/images/ve.gif) no-repeat left bottom;
  padding-left: 20px;
}

#mldate {
  clear: both;
  padding: 0.5em 0;
  text-align: center;
}

#gallery {
  margin: 10px 0;
}

#content .item1 {
  float: left;
  width: 175px;
  height: 161px;
  text-align: center;
  background-color: #fff;
  background-image: url(/images/bg_shop_item.gif);
  background-repeat: no-repeat;
}
#content .item2 {
  float: right;
  width: 175px;
  height: 161px;
  text-align: center;
  background-color: #fff;
  background-image: url(/images/bg_shop_item.gif);
  background-repeat: no-repeat;
}
#content .item3 {
  float: right;
  width: 175px;
  height: 161px;
  text-align: center;
  margin-right: 17px;
  background-color: #fff;
  background-image: url(/images/bg_shop_item.gif);
  background-repeat: no-repeat;
}
#content .item4 {
  float: right;
  clear: none;
  width: 175px;
  height: 161px;
  text-align: center;
  margin-right: 17px;
  background-color: #fff;
  background-image: url(/images/bg_shop_item.gif);
  background-repeat: no-repeat;
}

#distros {
  margin: 10px 0 5px 0;
}
#distros dl {
  width: 770px;
  margin: 0 0 5px 0;
  background-color: #fff;
  background-image: url(/images/rc_bot.gif);
  background-repeat: no-repeat;
  background-position: bottom;
}
#distros dt {
  padding: 10px;
  font-weight: bold;
  background-image: url(/images/rc_top.gif);
  background-repeat: no-repeat;
  background-position: top;
}
#distros dd {
  padding: 10px 0;
}
#distros img {
  float: left;
}
#distros table {
  background-image: url(/images/folder_cd.gif);
  background-repeat: no-repeat;
  background-position: right center;
  /* nice hack: center table */
  margin: 0 auto;
}
#distros td {
  padding: 2px;
}