* {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 5px;
  text-align: left;
}

blockquote {
  margin-left: 1em;
}

form {
  display: inline;
}

h1 {
}

h3 {
  clear: none;
}

img {
  border: 0px;
}

p {
  margin: 0.5em 0;
}

li {
  display: inline;
  margin: 0 0.5em;
  list-style-type: none;
}

#container {
  width: 770px;
  margin: 5px 0;
}

#header p {
  margin-left: 250px;
}

#header-menu {
  text-align: right;
}

ul#links li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul#net {
  margin-right: 10px;
  text-align: right;
  clear: none;
}
ul#net li {
  display: inline;
  padding: 0.25em 0.5em;
}

ul#nav li {
  display: inline;
  padding-right: 5px;
}

ul#button {
  padding: 0;
  list-style-type: none;
}
ul#button li {
  display: inline;
}
ul#button li a {
  padding: 0.2em 1.5em;
  margin: 0 0.5em;
}

#content {
  width: 750px;
  text-align: center;
  padding: 0 5px 0 10px;
}

#col {
}

#box {
  margin: 0.5em 0;
  padding: 0.5em 0;
  text-align: left;
}


#message {
  width: 99%;
  margin: 1em;
  padding: 1em;
}
#message h1 {
  padding: 1em;
}


#footer {
  clear: both;
}
