body {
  background: #ecf0f6;
  color: #000;
}

a:link, a:active, a:visited, a.postlink {
  color: #006699;
  text-decoration: none;
}
a:hover {
  color: #dd6900;
}

#container {
  background: #ecf0f6;
  font-size: 0.95em;
  line-height: 95%;
  text-align: center;
  margin: 0 auto;
  width: 770px;
}

#header-container {
  height: 110px;
  background: url(/images/bg_shop_head.gif) no-repeat center;
}
#header h1 {
  float: left;
  width: 245px;
  height: 110px;
  background: url(/images/logo.gif) no-repeat left;
}
#header p {
  background: #FFF5D9;
  border: 2px solid #fff;
  color: #808080;
  float: right;
  font-size: 0.95em;
  line-height: 165%;
  margin: 15px 60px 0 0;
  padding: 8px;
  width: 330px;
}

ul#mlnav {
  clear: both;
  text-align: center;
}
ul#mlnav li {
  display: inline;
  padding: 0 1em;
  padding-left: 20px;
}
ul#mlnav li.ar {
  background: url(/images/ar.gif) no-repeat left bottom;
}
ul#mlnav li.br {
  background: url(/images/br.gif) no-repeat left bottom;
}
ul#mlnav li.cl {
  background: url(/images/cl.gif) no-repeat left bottom;
}
ul#mlnav li.co {
  background: url(/images/co.gif) no-repeat left bottom;
}
ul#mlnav li.ec {
  background: url(/images/ec.gif) no-repeat left bottom;
}
ul#mlnav li.mx {
  background: url(/images/mx.gif) no-repeat left bottom;
}
ul#mlnav li.pe {
  background: url(/images/pe.gif) no-repeat left bottom;
}
ul#mlnav li.uy {
  background: url(/images/uy.gif) no-repeat left bottom;
}
ul#mlnav li.ve {
  background: url(/images/ve.gif) no-repeat left bottom;
}

.container {
  background: #fff;
}
#gallery {
  margin-left: 5px;
}
#gallery p {
  padding-top: 0.5em;
}
#gallery .span-1 {
  width: 175px;
  height: 161px;
  text-align: center;
  background: url(/images/bg_shop_item.gif) no-repeat;  
}

.adsense {
  clear: both;
  padding: 1em 0 0 0;
}

#pager {
  text-align: center;
  padding: 0.5em 0;
  margin: 0.5em 0;
  clear: both;
}

#footer {
  background: url(/images/bg_shop_foot.gif) no-repeat center;
  clear: both;
  color: #fff;
  height: 38px;
  margin: 0;
  padding: 0;
  width: 770px;
  text-align: left;
}
#footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer ul {
  padding-top: 10px;
}
#footer li {
  display: inline;
  padding: 0 1em;
  padding-left: 20px;
}
#footer li.home {
  background: url(/images/house.gif) no-repeat left center;
}
#footer li.info {
  background: url(/images/info.gif) no-repeat left center;
}
#footer li.mail {
  background: url(/images/email.gif) no-repeat left center;
}
#footer li.forum {
  background: url(/images/group.gif) no-repeat left center;
}
#footer li.feed {
  background: url(/images/feed.gif) no-repeat left center;
}

#distros dl {
  margin: 0 0 5px 0;
  background: #fff url(/images/rc_bot.gif) no-repeat bottom;
}
#distros dt {
  padding: 10px;
  font-weight: bold;
  background: #fff url(/images/rc_top.gif) no-repeat top;
}
#distros dd {
  padding: 10px 0;
}
#distros img {
  float: left;
}
#distros table {
  padding-left: 120px;
}
#distros td {
  padding: 2px;
}

#credits {
  text-align: center;
}
#credits p {
  margin: 0.5em 0;
}
#credits li {
  display: inline;
  padding-left: 20px;
}

.rails {
  background: url(/images/railspower.png) no-repeat left center;
  padding-left: 85px;
}