<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- (c)2005,2006,2007,2008 por Cristian R. Arroyo [cristian.arroyo(at)vivaserver.com.ar] -->
<html>
  <head>
    <title>
      Planeta Linux Shop <%= params[:country].upcase %> : El shopping de recursos Linux
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="EXPIRES"      content="0">
    <meta name="RESOURCE-TYPE" content="DOCUMENT">
    <meta name="DISTRIBUTION"  content="GLOBAL">
    <meta name="AUTHOR"        content="Planeta Linux Shop">
    <meta name="COPYRIGHT"     content="Copyright (c) 2008 by Planeta Linux Shop">
    <meta name="DESCRIPTION"   content="El shopping de recursos Linux">
    <meta name="KEYWORDS"      content="linux, download, cd, dvd, shop, descargar, bajar">
    <meta name="ROBOTS"        content="INDEX, FOLLOW">
    <meta name="REVISIT-AFTER" content="1 DAYS">
    <meta name="RATING"        content="GENERAL">
    <meta name="GENERATOR"     content="Planeta Shop xML Parser 0.8">
    <link rel="shortcut icon"  href="/images/favicon.ico">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/argentina/rss" type="application/rss+xml" title="Planeta Linux Shop ARGENTINA">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/brasil/rss"    type="application/rss+xml" title="Planeta Linux Shop BRASIL">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/chile/rss"     type="application/rss+xml" title="Planeta Linux Shop CHILE">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/colombia/rss"  type="application/rss+xml" title="Planeta Linux Shop COLOMBIA">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/ecuador/rss"   type="application/rss+xml" title="Planeta Linux Shop ECUADOR">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/mexico/rss"    type="application/rss+xml" title="Planeta Linux Shop MEXICO">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/peru/rss"      type="application/rss+xml" title="Planeta Linux Shop PERU">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/uruguay/rss"   type="application/rss+xml" title="Planeta Linux Shop URUGUAY">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/venezuela/rss" type="application/rss+xml" title="Planeta Linux Shop VENEZUELA">
    <%= stylesheet_link_tag 'screen', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
    <!--[if IE]><%= stylesheet_link_tag 'ie', :media => 'screen, projection' %><![endif]-->
    <%= stylesheet_link_tag 'style', :media => 'screen, projection' %>
    <script language="javascript" type="text/javascript">
      <!--
      if (top != self) top.location=self.location;
      // -->
    </script>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-83052-10");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
  </body>
</html>
