<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- (c)2005,2006,2007,2008 por Cristian R. Arroyo [cristian.arroyo(at)vivaserver.com.ar] -->
<html>
  <head>
    <title>
      Planeta Linux Shop <%= params[:country].upcase %> : El shopping de recursos Linux
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="EXPIRES"      content="0">
    <meta name="RESOURCE-TYPE" content="DOCUMENT">
    <meta name="DISTRIBUTION"  content="GLOBAL">
    <meta name="AUTHOR"        content="Planeta Linux Shop">
    <meta name="COPYRIGHT"     content="Copyright (c) 2006 by Planeta Linux Shop">
    <meta name="DESCRIPTION"   content="El shopping de recursos Linux">
    <meta name="KEYWORDS"      content="linux, download, cd, dvd, shop, descargar, bajar">
    <meta name="ROBOTS"        content="INDEX, FOLLOW">
    <meta name="REVISIT-AFTER" content="1 DAYS">
    <meta name="RATING"        content="GENERAL">
    <meta name="GENERATOR"     content="Planeta Shop xML Parser 0.6">
    <link rel="shortcut icon"  href="/images/favicon.ico">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/argentina/rss" type="application/rss+xml" title="Planeta Linux Shop ARGENTINA">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/brasil/rss"    type="application/rss+xml" title="Planeta Linux Shop BRASIL">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/chile/rss"     type="application/rss+xml" title="Planeta Linux Shop CHILE">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/colombia/rss"  type="application/rss+xml" title="Planeta Linux Shop COLOMBIA">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/ecuador/rss"   type="application/rss+xml" title="Planeta Linux Shop ECUADOR">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/mexico/rss"    type="application/rss+xml" title="Planeta Linux Shop MEXICO">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/peru/rss"      type="application/rss+xml" title="Planeta Linux Shop PERU">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/uruguay/rss"   type="application/rss+xml" title="Planeta Linux Shop URUGUAY">
    <link rel="alternate" href="http://www.planetalinuxshop.com.ar/venezuela/rss" type="application/rss+xml" title="Planeta Linux Shop VENEZUELA">
    <%= stylesheet_link_tag 'layout' %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_auto_link_tags %>
    <%= javascript_include_tag 'sitewide.js' %>
    <script language="javascript" type="text/javascript">
      <!--
      if (top != self) top.location=self.location;
      // -->
    </script>
  </head>
  <body onload="javascript:hasIE_hideAndShow();">
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-83052-3";
    urchinTracker();
    </script>
    <script type="text/javascript">
      <!--
      var hasIE_phone_home = 0;
      // This function does the actual browser detection
      function hasIE_hasIE() {
        var ua = navigator.userAgent.toLowerCase();
        return ((ua.indexOf('msie') != -1) && (ua.indexOf('opera') == -1) &&
                (ua.indexOf('webtv') == -1) &&
                (location.href.indexOf('seenIEPage') == -1));
      }
      function hasIE_showOnlyLayer(whichLayer)
      {
        if (document.getElementById)
          {
            var style2 = document.getElementById(whichLayer);
          }
        else if (document.all)
          {
            var style2 = document.all[whichLayer];
          }
        else if (document.layers)
          {
            var style2 = document.layers[whichLayer];
          }
        var body = document.getElementsByTagName('body');
        body[0].innerHTML = style2.innerHTML;
      }
      function hasIE_showLayer(whichLayer)
      {
        if (document.getElementById)
          {
            var style2 = document.getElementById(whichLayer).style;
            style2.display = "block";
          }
        else if (document.all)
          {
            var style2 = document.all[whichLayer].style;
            style2.display = "block";
          }
        else if (document.layers)
          {
            var style2 = document.layers[whichLayer].style;
            style2.display = "block";
          }
      }
      function hasIE_moveAd(adid) {
        if (document.getElementById)
          {
            var ad = document.getElementById('hasIE_ad');
            var adloc = document.getElementById(adid);
          }
        else if (document.all)
          {
            var ad = document.all['hasIE_ad'];
            var adloc = document.all[adid];
          }
        else if (document.layers)
          {
            var ad = document.layers['hasIE_ad'];
            var adloc = document.layers[adid];
          }
        adloc.innerHTML = ad.innerHTML;
      }
      // Hides and shows sections of the page based on whether or not it's
      // running in IE
      function hasIE_hideAndShow() {
        if (hasIE_hasIE()) {
          hasIE_showLayer("hasIE_level1");
                if (hasIE_phone_home == 1)
                  hasIE_phoneHome('getIE_pingimage1');
        } else {
          if (hasIE_phone_home == 1)
            hasIE_phoneHome('getIE_pingimage0');
        }
      }
      function hasIE_phoneHome(image) {
        if (document.getElementById)
          {
            var img = document.getElementById(image);
          }
        else if (document.all)
          {
            var img = document.all[image];
          }
        else if (document.layers)
          {
            var img = document.layers[image];
          }
        img.setAttribute('src','http://getunder50.com/ping.php?host='+location.host);

      }
      function hasIE_ContinueWithoutFF() {
        if (location.href.indexOf('?') != -1)
          location.href += '&seenIEPage=1';
        else
          location.href += '?seenIEPage=1';
      }
      -->
    </script>
    <span style="position:absolute; width: 0px; height:0px; left:-1000px; top: -1000px"><img id="getIE_pingimage0"/></span>
    <!-- LEVEL 1: SWITCH BAR ON TOP OF PAGE -->
    <div id="hasIE_level1" style="display: none;">
      <span style="position:absolute; width: 0px; height:0px; left:-1000px; top: -1000px"><img id="getIE_pingimage1"/></span>
      <div style="padding: 20px; background-color: #ffffbb; font-family: arial; font-size: 15px; font-weight: normal; color: #111111; line-height: 17px;">
        <div style="width: 650px; margin: 0 auto 0 auto;">
          <div style="padding-left: 8px; padding-top: 0px; float: right;">
            <script type="text/javascript"><!--
            google_ad_client = "pub-4208681256971787";
            google_ad_width = 125;
            google_ad_height = 125;
            google_ad_format = "125x125_as_rimg";
            google_cpa_choice = "CAAQufKTlwIaCB6YJMiuOEAcKMO393M";
            google_ad_channel = "";
            //--></script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </div>
          <strong>Notamos que usas Internet Explorer.<br />Intenta usar Firefox, sabemos que te gustar&aacute; mucho m&aacute;s.</strong>
          <br /><br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&middot;</strong> Firefox bloquea <em>popups</em>
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&middot;</strong> Detiene virus y <em>spyware</em>
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&middot;</strong> No permite que Microsoft controle el futuro de Internet.
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&middot;</strong> Es mejor para dise&ntilde;adores y programadores.
          <br /><br />
          S&oacute;lo haz clic en el bot&oacute;n a la derecha y desc&aacute;rgalo. Es gratis.
        </div>
      </div>
    </div>
    <!-- CLOSES LEVEL 1 -->
    <div id="holder">
      <p>
        <script type="text/javascript"><!--
        google_ad_client = "pub-4208681256971787";
        google_ad_width = 728;
        google_ad_height = 15;
        google_ad_format = "728x15_0ads_al_s";
        google_ad_channel ="";
        google_color_border = "A9BED9";
        google_color_bg = "EAEDF4";
        google_color_link = "006699";
        google_color_url = "006699";
        google_color_text = "333333";
        //--></script>
        <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </p>
      <div id="container">
        <div id="header-container">
          <div id="header">
            <a href="<%= url_for home_url -%>"><h1>&nbsp;</h1></a>
            <p><%= image_tag 'help.gif', :align => 'middle' %> &nbsp; <b>Planeta Linux Shop</b> es la respuesta de <a href="http://www.planetalinux.com.ar/">Planeta Linux Argentina</a> a la cl&aacute;sica pregunta <i>"&iquest;D&oacute;nde compro Linux?"</i><br>&iexcl;Elije tu pa&iacute;s y encuentra la mejor oferta!</p>
          </div>
        </div>
        <div id="content">
          <%= yield %>
